.input-box {
    background-color: #282B30;
    padding: 16px 55px;
    border-radius: 15px;
    margin: 20px 40px;
    border: none;
    position: relative;
    margin-top: 50px;
    width: 300px;
    color: #6C727F;;
}

.input-box::placeholder {
    color: #6C727F;
}

.input-box:focus {
    outline: #6C727F;
}

.search-icon-img {
    position: absolute;
    top: 5.8%;
    left: 77.5%;
    z-index: 999;
}
.search-container-div{
    display: flex;
    justify-content: end;
}

.search-h1{
    position: absolute;
    right: 80%;
    top: 6%;
    color: #6C727F;
    font-weight: 500;

}